mixin input_txt(label, name, placeholder, txt)
  .row
    br
    .col-sm-2
      label=label
    .col-sm-10
      input(type='text', name=name, id=name, class='form-control', placeholder=placeholder, value=txt)

mixin input_txtarea(label, name, placeholder, txt)
  .row
    br
    .col-sm-2
      label=label
    .col-sm-10
      textarea(name=name, id=name, class='form-control', placeholder=placeholder)=txt

mixin input_const(name, value)
  input(type='hidden', name=name, text=value)

extends layout

block includes
  script(src='/pagedown/pagedown.js')
  script(src='/js/editwiki.js')

block content
  div.row
    include ./widgets/title-home.jade
  div.row
    +message
  div.row
    div.wall
      .content#postpreview
  div.row
    div.wall
      .content#inner-content
        div.row
          if wiki
            h2 Edit Page : 
              small= wikipath
          else
            h2 New Page : 
              small= wikipath
          h3 COMMAND
            form(class='form-editwiki', action='/editwiki', method='POST')
              .col-sm-6
                +input_txt('wiki', 'wikipath', wikipath, (wiki ? wiki.wikipath : null) || wikipath)
                +input_txt('title', 'title', wikipath, (wiki ? wiki.title : null) || '')
                +input_txt('subtitle', 'subtitle', '', (wiki ? wiki.subtitle : null) || '')
                +input_txtarea('content', 'content', '', (wiki ? wiki.content : null) || '')
                //+input_txt('style', 'style', '', (wiki ? wiki.style : null) || '')
                .row
                  br
                  .col-sm-5.col-sm-offset-2
                    a(class='btn btn-sm btn-primary btn-block', id='submit') POST
                  .col-sm-5
                    a(class='btn btn-sm btn-primary btn-block', id='preview', href='#content') PREVIEW
              span.clearfix
