mixin input_txt(label, name, placeholder, txt)
  .col-sm-2
    label=label
  .col-sm-10
    input(type='text', name=name, id=name, class='form-control', placeholder=placeholder, value=txt)

mixin input_txtarea(label, name, placeholder, txt, code)
  .col-sm-2
    label=label
  .col-sm-10
    if code
      textarea(name=name, id=name, class='form-control', placeholder=placeholder, style='font-family:"Courier New";')=txt
    else
      textarea(name=name, id=name, class='form-control', placeholder=placeholder)=txt

mixin input_checkbox(label, name, value)
  .col-sm-2
    label=label
  .col-sm-10
    div.checkbox
      input(type='checkbox' id=name, value=value)
      p=value

extends layout

block includes
  script(src='/pagedown/pagedown.js')
  script(src='/js/editwiki.js')

block content
  div.row
    include ./widgets/title-home.jade
  div.row
    +message
  include posts/wiki
  div.row
    div.wall
      .content#inner-content
        div.row
          if wiki
            h2 Edit Page : 
              small= wikipath
          else
            h2 New Page : 
              small= wikipath
          form(class='form-editwiki', action='/editwiki', method='POST')
            +input_txt('wiki', 'wikipath', wikipath, (wiki ? wiki.wikipath : null) || wikipath)
            +input_txt('title', 'title', wikipath, (wiki ? wiki.title : null) || '')
            +input_txt('subtitle', 'subtitle', '', (wiki ? wiki.subtitle : null) || '')
            +input_txtarea('imgmain', 'imgmain', '', (wiki ? wiki.imgmain : null) || '', true)
            +input_txtarea('darkband', 'darkband', '', (wiki ? wiki.darkband : null) || '', true)
            +input_txt('back', 'back', '', (wiki ? wiki.back : null) || '')
            +input_txtarea('content', 'content', '', (wiki ? wiki.content : null) || '')
            +input_checkbox('hidden', 'hidden', (wiki ? wiki.hidden : '0'))
            +input_checkbox('under construction', 'construction', (wiki ? wiki.construction : '0'))
            .row
              br
              .col-sm-5.col-sm-offset-2
                button(class='btn btn-sm btn-primary btn-block', id='submit') POST
            span.clearfix