mixin input_txt(label, name, placeholder, txt)
  .row
    br
    .col-sm-2
      label=label
    .col-sm-10
      input(type='text', name=name, id=name, class='form-control', placeholder=placeholder, value=txt)

mixin input_txtarea(label, name, placeholder, txt)
  .row
    br
    .col-sm-2
      label=label
    .col-sm-10
      textarea(name=name, id=name, class='form-control', placeholder=placeholder)=txt

mixin input_const(name, value)
  input(type='hidden', name=name, text=value)

extends layout

block includes
  script(src='/pagedown/pagedown.js')
  script(src='/js/editwiki.js')

block content
  div.row
    include ./widgets/title-home.jade
  div.row
    +message
  include posts/wiki
  div.row
    div.wall
      .content#inner-content
        div.row
          if wiki
            h2 Edit Page : 
              small= wikipath
          else
            h2 New Page : 
              small= wikipath
          h3 COMMAND
            form(class='form-editwiki', action='/editwiki', method='POST')

              +input_txt('wiki', 'wikipath', wikipath, (wiki ? wiki.wikipath : null) || wikipath)
              +input_txt('title', 'title', wikipath, (wiki ? wiki.title : null) || '')
              +input_txt('subtitle', 'subtitle', '', (wiki ? wiki.subtitle : null) || '')
              +input_txt('imgmain', 'imgmain', '', (wiki ? wiki.imgmain : null) || '')
              +input_txt('darkband', 'darkband', '', (wiki ? wiki.darkband : null) || '')
              +input_txt('back', 'back', '', (wiki ? wiki.back : null) || '')
              +input_txtarea('content', 'content', '', (wiki ? wiki.content : null) || '')
              .row
                br
                .col-sm-5.col-sm-offset-2
                  button(class='btn btn-sm btn-primary btn-block', id='submit') POST
              span.clearfix