extends layout

block content
  div.row
    include ./widgets/title-mini.jade
  div.row
    +message
  div.wall
    .content
      if error.status == 404
        h1='Are you lost?'
        pre #{path}
        p If you got here from a broken link, please let me know: #[a(href="http://twitter.com/xoorath") @xoorath].
      else
        h1= message
        if error
          if error.status
            h2= error.status
          else
            h2 no status to show.
        else
          h2 no error to show
        if error
          h3 #{error}
        else
          pre no error to show
    .content-line