doctype html
html
  head
    title Xoorath
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="A collection of works by Jared Thomson. Game development, programming and hobbies.")
    meta(name="keywords" content="xoorath, jared, thomson, jared thomson, jared thompson, thompson, games, game development, development, programmer, snowed in studios, ubisoft montreal, magmic, qnx, c++, c#, javascript, web development")
    meta(name="author" content="Jared Thomson")
    meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    link(rel='stylesheet', href='/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='/layout.css')
    link(rel='stylesheet', href='/block-graph.css')
    link(rel='stylesheet', href='/horiz-graph-64.css')
    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap/bootstrap.min.js')
    script(src='/js/layout.js')
    block includes
  body
    .container.main-content
      mixin message
        .message-section
          if message != null && message.length > 0
            for m in message
              - if(typeof m === "string") m = {style:'alert-danger', msg:m};
              div.alert(class="#{m.style} .fade .in")
                a(href='#', class='close', data-dismiss='alert', aria-label='close') &times;
                p #{m.msg}
      block content
    .footer
      .container.footer-content
        div.col-sm-4.col-xs-offset-4
        if git
          .gitlog
            .title-section.row
              .col-m-4.col-m-offset-4.col-xs-12
                if git.branch
                  p.col-xs-4 branch:
                    br 
                    a(href='https://github.com/xoorath/introspection/tree/#{git.branch}') #{git.branch}
                if git.sha
                  p.col-xs-4 commit:
                    br
                    a(href='https://github.com/xoorath/introspection/commit/#{git.sha.long}') #{git.sha.short}
                if git.tag
                  p.col-xs-4 tag:
                  br
                  span #{git.tag}
            if git.history
              .bar
                span recent changes
              .row.history
                each log in git.history.length ? git.history : [['no history to show']]
                  .log.col-sm-4.section
                    a(href='https://github.com/xoorath/introspection/commit/#{log.commit.long_hash}') #{log.author.date.from_now}
                    span.spacer by 
                      a(href='https://github.com/#{log.author.name}') #{log.author.name}
                    if log.message.subject && log.message.subject != ""
                      div.subject #{log.message.subject}
                    if log.message.body && log.message.body != ""
                      div.body #{log.message.body}
        hr
        if path == "/"
          if !user
            a(href='/login')#loginout +
          else
            a(href='/signout')#loginout - 
            a(href='/post')#loginout p 
        span#attribution
          a(href="http://twitter.com/xoorath")#author Jared Thomson 
          span#copyright © 2015 
          //a(href="http://creativecommons.org/licenses/by-nc-sa/4.0/")#licence CC BY-NC-SA 4.0